<div class="d-flex justify-content-center align-items-center">
  <div class="list-group mt-3">  
    <a (click)="sonido(1)" class="list-group-item list-group-item-action " style="background-color: black;"></a>
    <a (click)="sonido(2)" class="list-group-item list-group-item-action " style="background-color: orange;"></a>
    <a (click)="sonido(3)" class="list-group-item list-group-item-action " style="background-color: gray;"></a>
    <a (click)="sonido(4)" class="list-group-item list-group-item-action " style="background-color: blue;"></a>
    <a (click)="sonido(5)" class="list-group-item list-group-item-action " style="background-color: green;"></a>
    <a (click)="sonido(6)" class="list-group-item list-group-item-action " style="background-color: purple;"></a>
    <a (click)="sonido(7)" class="list-group-item list-group-item-action " style="background-color: teal;"></a>
  </div>
</div>